body {
    color: white;
    font-family: 'Indie Flower', cursive;
    text-align: center;
    background: #f46b45;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eea849, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eea849, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

table {
    margin: 20px auto;
    border-collapse: collapse;
}

td {
    font-size: 24px;
    width: 100px;
    height: 100px;
    background-color: transparent;
    cursor: pointer;
}

.horizontal {
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

.vertical {
    border-left: 5px solid black;
    border-right: 5px solid black;
}

div.finish > p {
    font-size: 24px;
}