body {
    font-family: 'Indie Flower', cursive;
    text-align: center;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
}

td {
    font-size: 24px;
    width: 100px;
    height: 100px;
    background-color: lightcyan;
    cursor: pointer;
}

.horizontal {
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

.vertical {
    border-left: 5px solid black;
    border-right: 5px solid black;
}

div.finish > p {
    font-size: 24px;
}