body {
    text-align: center;
}

table {
    margin: auto;
}

td {
    width: 100px;
    height: 100px;
    background-color: lightcyan;
}

.horizontal {
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

.vertical {
    border-left: 5px solid black;
    border-right: 5px solid black;
}